version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: giameo1201
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: file_service
    ports:
      - "5435:5432" 
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6380:6379"

volumes:
  pgdata: